@media (min-width: 750px) {
  .banner { grid-template-columns: repeat(2, auto);}
  .main {margin: 1em;}
  #intro{padding: 0; margin: 0;}
}
@media (min-width: 1500px) {
    .banner { grid-template-columns: repeat(2, auto);}
    .main {padding: 5em;}
}
.main{
    margin: 3em;
    border: outset 5px lightcyan;
}
.banner{
    display: grid;
    margin: 0;
    padding-top: 2;
}
#name{
   font-size: 6vh; 
}
#intro{
    display: flex;
    align-items: center;
}
.intro{
    display: inline-block;
}
#intro h2{
    font-size: 5vh;
    margin-bottom: 0;
}
#intro h3{
    margin-top: 4vh;
}
#me_image{
    border-radius: 15px;
    min-width: 15em;
}
ul{
    list-style: none;
}
.work_img{
    height: 15vw;
}
.languages{
    font-size: 5vh;
}
.education{
    text-align: center;
}
.section_heading{
    margin: 7vw 0;
}
.counter-Txt{
    text-align:center; font-size:20px; font-weight:bold; text-transform:uppercase; margin-top:20px;
}
.counter-Txt span{
    display:block; font-size:36px
}
@media(min-width:320px) and (max-width:767px){ 
    .c-no{height:100%;}
    .counter-Txt{margin-top:35px;}
    .margin-bot-35{margin-bottom:35px;}
}

#avgCounter > #counter{
    justify-content: center;
}
#school{
    margin-top: 5vw;
}
.heading{
    text-align: center;
}








.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #abc6e3;
  .floating-action-button {
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(45deg);
    .share-btn {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #e91e63;
      border-radius: 10px;
      box-shadow: 0px 2px 17px -1px rgba(0,0,0,0.3);
      z-index: 1000;
      #share-icon{
        display: block;
      }
      #close-icon {
        display: none;
      }
    }
    .share-btn.active {
      #share-icon{
        display: none;
      }
      #close-icon {
        display: block;
      }
    }
    ul {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f7f7f7;
        color: black;
        list-style-type: none;
        transform: scale(0.95);
        transition: .5s;
        border-radius: 10px;
      }
    }
    ul.active {
      li:hover{
       background-color: #FFCDAB;
      }
      li:nth-child(1) {
        top: 100%;
        left: 100%;
        transition-delay: 0s;
      }
      li:nth-child(2) {
        top: 100%;
        left: 0%;
        transition-delay: 0.2s;
      }
      li:nth-child(3) {
        top: 100%;
        left: -100%;
        transition-delay: 0.4s;
      }
       li:nth-child(4) {
        top: 0%;
        left: -100%;
        transition-delay: 0.6s;
      }
       li:nth-child(5) {
        top: -100%;
        left: -100%;
        transition-delay: 0.8s;
      }
    }
  }
  ion-icon {
    font-size: 18px;
    transform: rotate(-45deg);
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
