@media (min-width: 750px) {
  .banner { grid-template-columns: repeat(2, auto);}
  .main {margin: 1em;}
  #intro{padding: 0; margin: 0;}
}
@media (min-width: 1500px) {
    .banner { grid-template-columns: repeat(2, auto);}
    .main {padding: 5em;}
}
.main{
    margin: 3em;
    border: outset 5px lightcyan;
}
.banner{
    display: grid;
    margin: 0;
    padding-top: 2;
}
#name{
   font-size: 6vh; 
}
#intro{
    display: flex;
    align-items: center;
}
.intro{
    display: inline-block;
}
#intro h2{
    font-size: 5vh;
    margin-bottom: 0;
}
#intro h3{
    margin-top: 4vh;
}
#me_image{
    border-radius: 15px;
    min-width: 15em;
}
ul{
    list-style: none;
}
.work_img{
    height: 15vw;
}
.languages{
    font-size: 5vh;
}
.education{
    text-align: center;
}
#skills_section{
    margin: 10vw 0;
}
/* #skill_row1, #skill_row2, #skill_row3{
    display: none;
} */
